<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBSK0F-cMF4oLZlmdmyxpfQqtipr_QxYqs</string>
	<key>GCM_SENDER_ID</key>
	<string>931280711326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.warintorn.mindTrace</string>
	<key>PROJECT_ID</key>
	<string>mindtrace-fb738</string>
	<key>STORAGE_BUCKET</key>
	<string>mindtrace-fb738.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931280711326:ios:9a9f42a128d915744a958f</string>
</dict>
</plist>